img{
    display: block;
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.centerText{
    text-align: center;
}

body {
  position: absolute;
  z-index: -1;
  width: 100%;
  padding: 0px;
  top: 175px;
  left: 0;
  background-image: url('../../assets/images/BrianCSmall.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Style page content */
.mainHome {
  top:200px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

table{
    border: 0;
    text-align: center;
    width: 500px;
    height: 100%;
}
