<div class="main">
  <h2 class="first">Brian and McKenna's Wedding</h2>

  <hr />

  <table border="0" width="100%" height="500px">
    <tr>
      <td><p class="centerText">Date: June 26th, 2021</p></td>
      <td><img src="assets/images/BrianCSmall.jpg" alt="Calendar Picture" /></td>
    </tr>

    <tr>
      <td><img src="assets/images/BrianCSmall.jpg" alt="Calendar Picture" /></td>
      <td><p class="centerText">Venue: Oswego Hills Winery</p></td>
    </tr>

    <tr>
      <td><p class="centerText">Wedding Day Timeline</p></td>
      <td><img src="assets/images/BrianCSmall.jpg" alt="Calendar Picture" /></td>
    </tr>
  </table>
</div>
