
<div class="sidenav">
  <a href="#" routerLink="/">Home</a>
  <a href="#" routerLink="/registry">Registry</a>
  <a href="#" routerLink="/aboutbg">About the Bride and Groom</a>
  <a href="#" routerLink="/aboutbp">About the Bridal Party</a>
  <a href="#" routerLink="/songreq">Song Requests</a>
  <a href="#" routerLink="/faq">FAQ</a>
  <a href="#" routerLink="/dancing">Dancing Tutorials</a>
</div>

<div class="main">
  <h1>Cross My Heart</h1>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
