<header>
  <div class="container">
    <h1>Cross My Heart</h1>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/registry">Registry</a></li>
        <li><a href="#" routerLink="/aboutbg">About the Bride and Groom</a></li>
        <li><a href="#" routerLink="/aboutbp">About the Bridal Party</a></li>
        <li><a href="#" routerLink="/songreq">Song Requests?</a></li>
        <li><a href="#" routerLink="/faq">FAQ</a></li>
        <li><a href="#" routerLink="/dancing">Dancing Tips!</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
